FORMAT: X-1A

HOST: https://secure.gooddata.com

#GoodData API Documentation
The GoodData API is based on REST principles, all you need to use it is your GoodData account. You must be authenticated and call HTTPs requests on the URLs listed below. 
This documentation covers the core resources you can used to manipulate objects on the GoodData Platform. Review the information basic instructions if you are new to APIs.

>**Note:** Use your GoodData TESTING credentials for API calls. Please do not use your production credentials.

##Allowed HTTPs requests:

- `POST` - Creates or updates a resource
- `PUT` - Updates a resource
- `GET` - Retrieves a resource or list of resources
- `DELETE` - Delete a resource

##Typical Server Responses

- 200 `OK` - The request was successful (some API calls may return 201 instead).
- 201 `Created` - The request was successful and a resource was created.
- 204 `No Content` - The request was successful but there is no representation to return (that is, the response is empty).
- 400 `Bad Request` - The request could not be understood or was missing required parameters.
- 401 `Unauthorized` - Authentication failed or user does not have permissions for the requested operation.
- 403 `Forbidden` - Access denied.
- 404 `Not Found` - Resource was not found.
- 405 `Method Not Allowed` - Requested method is not supported for the specified resource.
- 429 `Too Many Requests` - Exceeded GoodData API limits. Pause requests, wait one minute, and try again. 
- 503 `Service Unavailable` - The service is temporary unavailable (e.g. scheduled Platform Maintenance). Try again later.


# Group Platform Availability 
<a id="available" ></a>

If The GoodData Platform is in scheduled maintenance, REST API Returns a **503** error code and following message is displayed in the response body:


`Scheduled maintenance in progress. Please try again later.`

Otherwise it will return 503 with a descriptive error message. Specific errors messages are listed with individual APIs. You can use **gdc/ping** resource to check the Platform availability.


## /gdc/ping
### GET
Checks Platform availability.

+ Request

    + Headers

            Accept: application/json


+ Response 204

+ Response 503

    + Body 
    
            Scheduled maintenance in progress. Please try again later.  
    
+ Response 503

    + Headers
    
            Content-Type: application/json
        
    + Body 
    
            {"error":{
                "message": "Internal server error. Please fill in bug report with request_id='{error-id}'"
            }}


# Group Log In 
<a id="login" ></a>

GoodData authentication uses two kinds of tokens to track user sessions: 

- A long-lived **SST token**, which you obtain when you call `/gdc/account/login` 
- A short-lived **TT token**, which you obtain when you call `gdc/account/token` using your **SST Token**. This token is encrypted, and is quickly verified by the resource servers.

**Steps:**

1. `POST` your credentials to the login resource. The SST token is returned in the SetCookie header.
2. `GET` the token resource, and include the SST token in your header. The TT token is returned in the SetCookie header.  
  You are now authenticated. Include this TT token in a -cookie header on all API calls.

>**Note:** The TT token has limited validity. If you received a 401 Unauthorized Response, GET a new TT token.

#### Additional Information

You can use two methods to obtain and use tokens: _HTTP Cookies_ and _custom headers_. These methods are controlled by `verify_level` property when you log in.  The advantage of using Cookies is that most client libraries are able to use them automatically without a need to write custom code (store and send them with the followup API requests based on the URI path). 

* Do not specify a _verify_level_ if you intend to rely on cookie usage. You cannot use this method across domains, and therefore not in the data staging area.
* Specify a _verify_level_ of 2 if your client uploads data. You will get the token values after you log in and token resources and you'll need to set the X-GDC-AuthSST and X-GDC-AuthTT headers to appropriate token values whenever they are required.

## /gdc/account/login
### POST
Log in.

+ Parameters
    + login (required, string) ... GoodData login email address
    + password (required, string) ... GoodData password
    + remember (required, boolean) ... Specifies whether to remember login credentials.
    + verify_level (optional, integer, ``) ... Verification level of the token. Specify '0' for HTTP cookies; specify '2' for custom HTTP headers

+ Request (application/json)
    + Headers

            Accept: application/json

    + Body

            {
                "postUserLogin":{
                    "login":"user@company.com",
                    "password":"YourPassword",
                    "remember":1
                }
            }

+ Response 200 (application/json)
    + Headers

            Set-Cookie: GDCAuthTT=; path=/gdc; expires=Mon, 30-Jul-2012 09:12:42 GMT; secure; HttpOnly, GDCAuthSST={super-secured-token}; path=/gdc/account; secure; HttpOnly

    + Body

            {
                "userLogin":{
                    "profile":"/gdc/account/profile/{user-id}",
                    "state":"/gdc/account/login/{user-id}"
                }
            }

## /gdc/account/token
### GET
Request a TT token.

+ Request 
    + Headers

            Accept: application/json
            Cookie: Set-Cookie: GDCAuthTT=; path=/gdc; expires=Mon, 30-Jul-2012 09:12:42 GMT; secure; HttpOnly, GDCAuthSST={super-secured-token}; path=/gdc/account; secure; HttpOnly

+ Response 200 
    + Headers

            Set-Cookie: set-cookie: GDCAuthTT={temporary-token}; path=/gdc; expires=Mon, 30-Jul-2012 09:12:42 GMT; secure; HttpOnly, GDCAuthSST={super-secured-token}; path=/gdc/account; secure; HttpOnly


## /gdc/account/profile/{user-id}
### GET
Retrieves details of your user account, including email addresses, phone number, and authentication provider. This information is also returned after successful authentication. 

+ Request 
    + Headers

            Accept: application/json

+ Response 200 

    + Body
    
              {
                 "accountSetting" : {
                   "country" : "cz",
                   "firstName" : "Name",
                   "ssoProvider" : null,
                   "timezone" : null,
                   "position" : "",
                   "authenticationModes" : [],
                   "companyName" : "GoodData",
                   "login" : "email@gooddata.com",
                   "email" : "email@gooddata.com",
                   "created" : "2011-08-10 08:37:46",
                   "updated" : "2014-04-11 01:18:07",
                   "lastName" : "Lastname",
                   "phoneNumber" : "7755441225",
                    "links" : {
                        "self" : "/gdc/account/profile/{profile-id}",
                        "projects" : "/gdc/account/profile/{profile-id}/projects"
                              }
                        }
                }
                

## /gdc/account/login/{user-id}
### DELETE
Log out.

+ Request 
    + Headers

            Accept: application/json

+ Response 200 


# Group Objects 
Objects are the entities in the GoodData Platform. For example, Dashboards, Reports, Metrics, and Data Permissions are objects. 

## Object Creation [/gdc/md/{project-id}/obj{?createAndGet=true}]
### Create a New Object [POST]
Create a new object. The example below creates a new metric. 
>**Note:** This example does not include the `createAndGet` parameter. 

<!---
+ Parameters
    + title (required, string) ... Name of the new object
    + summary (optional, string) ... Object description
    + tags (optional, boolean) ... Tags to associate with the object. Separate tags with a space.
    + deprecated (optional, integer, ``) ... Verification level of the token. Specify '0' for HTTP cookies; specify '2' for custom HTTP headers
    + unlisted (boolean,
    + expression ( ) specifies the MAQL for the object. 
    +format (???, ??? ) Specifies the format that metrics are calculated in. Do not use 
    +folders (???, ???? ) The folder to include the object in.
    -->



+ Request
    + Headers

            Content-Type: application/json
            Accept: application/json

    + Body

            {
                "metric": {
                    "meta": {
                        "title": "My new metric",
                        "summary": "",
                        "tags": "",
                        "deprecated": 0,
                        "unlisted": 1
                    },
                    "content": {
                        "expression": "SELECT SUM([/gdc/md/{project-id}/obj/{object-id}])",
                        "format": "#,##0.00",
                        "folders": []
                    }
                }
            }

+ Response 200
    + Headers

            Content-Type: application/json

    + Body

            {
                "uri": "/gdc/md/{project-id}/obj/{object-id}"
            }
            
### Create and Retrieve a New Object [POST]
Use this call to create new object. In this example you create a new metric and receive the complete object instead of link to it.

**With the createAndGet=true parameter.**

+ Request
    + Headers

            Content-Type: application/json
            Accept: application/json

    + Body

            {
                "metric": {
                    "meta": {
                        "title": "My new metric",
                        "summary": "",
                        "tags": "",
                        "deprecated": 0,
                        "unlisted": 1
                    },
                    "content": {
                        "expression": "SELECT SUM([/gdc/md/{project-id}/obj/{object-id}])",
                        "format": "#,##0.00",
                        "folders": []
                    }
                }
            }

+ Response 200
    + Headers

            Content-Type: application/json

    + Body

            {
                "metric": {
                    "content": {
                        "format": "#,##0.00",
                        "tree": {
                            "content": [
                                {
                                    "content": [
                                        {
                                            "value": "SUM",
                                            "content": [
                                                {
                                                    "value": "/gdc/md/{project-id}/obj/{object-id}",
                                                    "position": {
                                                        "column": 12,
                                                        "line": 2
                                                    },
                                                    "type": "fact object"
                                                }
                                            ],
                                            "position": {
                                                "column": 8,
                                                "line": 2
                                            },
                                            "type": "function"
                                        }
                                    ],
                                    "position": {
                                        "column": 8,
                                        "line": 2
                                    },
                                    "type": "expression"
                                }
                            ],
                            "position": {
                                "column": 1,
                                "line": 2
                            },
                            "type": "metric"
                        },
                        "expression": "SELECT SUM([/gdc/md/{project-id}/obj/{object-id}])"
                    },
                    "meta": {
                        "author": "/gdc/account/profile/{user-id}",
                        "uri": "/gdc/md/{project-id}/obj/{object-id}",
                        "tags": "",
                        "created": "2014-07-07 10:02:54",
                        "identifier": "arFtGnK2gysS",
                        "deprecated": "0",
                        "summary": "",
                        "unlisted": 1,
                        "title": "My new metric",
                        "category": "metric",
                        "updated": "2014-07-07 10:02:54",
                        "contributor": "/gdc/account/profile/{user-id}"
                    }
                }
            }
          
## Existing Object Manipulation [/gdc/md/{project-id}/obj/{object-id}]
### Retrieve an Object [GET]
Use this call to retrieve an object from the API.

+ Request
    + Headers

            Accept: application/json

    + Body

+ Response 200
    + Headers

            Content-Type: application/json

    + Body

            {
                "metric": {
                    "content": {
                        "format": "#,##0.00",
                        "tree": {
                            "content": [
                                {
                                    "content": [
                                        {
                                            "value": "SUM",
                                            "content": [
                                                {
                                                    "value": "/gdc/md/{project-id}/obj/{object-id}",
                                                    "position": {
                                                        "column": 12,
                                                        "line": 2
                                                    },
                                                    "type": "fact object"
                                                }
                                            ],
                                            "position": {
                                                "column": 8,
                                                "line": 2
                                            },
                                            "type": "function"
                                        }
                                    ],
                                    "position": {
                                        "column": 8,
                                        "line": 2
                                    },
                                    "type": "expression"
                                }
                            ],
                            "position": {
                                "column": 1,
                                "line": 2
                            },
                            "type": "metric"
                        },
                        "expression": "SELECT SUM([/gdc/md/{project-id}/obj/{object-id}])"
                    },
                    "meta": {
                        "author": "/gdc/account/profile/{user-id}",
                        "uri": "/gdc/md/{project-id}/obj/{object-id}",
                        "tags": "",
                        "created": "2014-07-07 09:50:49",
                        "identifier": "adZtDDfkfAHG",
                        "deprecated": "0",
                        "summary": "",
                        "unlisted": 1,
                        "title": "My new metric",
                        "category": "metric",
                        "updated": "2014-07-07 09:50:49",
                        "contributor": "/gdc/account/profile/{user-id}"
                    }
                }
            }
            
### Update an Object [PUT]
Use this call to update existing object. Use the full object body/content with your changes. See the example where we've changed the Metric definition (`SUM` -> `AVG`)

+ Request
    + Headers

            Content-Type: application/json
            Accept: application/json

    + Body
    
            {
                "metric": {
                    "content": {
                        "format": "#,##0.00",
                        "tree": {
                            "content": [
                                {
                                    "content": [
                                        {
                                            "value": "SUM",
                                            "content": [
                                                {
                                                    "value": "/gdc/md/{project-id}/obj/{object-id}",
                                                    "position": {
                                                        "column": 12,
                                                        "line": 2
                                                    },
                                                    "type": "fact object"
                                                }
                                            ],
                                            "position": {
                                                "column": 8,
                                                "line": 2
                                            },
                                            "type": "function"
                                        }
                                    ],
                                    "position": {
                                        "column": 8,
                                        "line": 2
                                    },
                                    "type": "expression"
                                }
                            ],
                            "position": {
                                "column": 1,
                                "line": 2
                            },
                            "type": "metric"
                        },
                        "expression": "SELECT AVG([/gdc/md/{project-id}/obj/{object-id}])"
                    },
                    "meta": {
                        "author": "/gdc/account/profile/{user-id}",
                        "uri": "/gdc/md/{project-id}/obj/{object-id}",
                        "tags": "",
                        "created": "2014-07-07 09:50:49",
                        "identifier": "adZtDDfkfAHG",
                        "deprecated": "0",
                        "summary": "",
                        "unlisted": 1,
                        "title": "My new metric",
                        "category": "metric",
                        "updated": "2014-07-07 09:50:49",
                        "contributor": "/gdc/account/profile/{user-id}"
                    }
                }
            }

+ Response 200
    + Headers

            Content-Type: application/json

    + Body

            {
                "uri": "/gdc/md/{project-id}/obj/{object-id}"
            }

### Delete an Object [DELETE]
Use this resource to delete specific objects.

+ Request
    + Headers

            Content-Type: application/json
            Accept: application/json

    + Body
    
    
+ Response 204
    + Headers

    + Body


# Group Project
<a id="project" ></a>

Projects are one of the key objects in the GoodData platform. When working with GoodData, you basically create projects (datamarts). Metrics, Reports and Dashboards
are then created inside Projects. The following two states are key for you and your integrations:

- **ENABLED** - project is ready and available
- **DELETED** - something is wrong

Once you create a Project with a `POST` request shown below, [poll the returned url](#get-%2Fgdc%2Fprojects%2F%7Bproject-id%7D) and check the Project `state` value until it is **ENABLED** or **DELETED**. Find out more information about how to create a [project programatically on this discussion thread](http://stackoverflow.com/questions/22647479/gooddata-how-to-create-a-project-through-api). Other states that project can be in:

- PREPARING 
- LOADING
- PREPARED
- DISABLED
- ARCHIVED

###Project Properties  
- title (string) :   Project Title         
- summary (string) : Project summary
- roles (uri) : User's role in the Project
- userPermissions (uri) : User permissions information
- userRoles (uri) : User roles information
- users (uri) : Project users information
- created (date) : Date of project creation
- updated (date) : Date of project update 
- author (uri) : Project creator account
- exportUsers (boolean) : export users from project true/false 
- exportData (boolean) : export data from project true/false
- token (string) : export Token for export/import project usage

## /gdc/projects
### POST
To create new project, use following call. Poll the resource that you received as response until it gives you the status: **ENABLED** or **DELETED** 
See the next API call for more details. 

+ Request (application/json)
    + Headers

            Accept: application/json

    + Body

            { "project" : {
                   "content" : { "guidedNavigation": 1, "driver" : "Pg", "authorizationToken" : "AUTH_TOKEN"},
                   "meta" : {
                   "title" : "Test Project",
                   "summary" : "Testing Project",
                   "projectTemplate" : "/projectTemplates/{template-name}/{template-version}"
                   } }
            }

+ Response 201 (application/json)

        {
           "uri" : "/gdc/projects/{project-id}"
        }

## /gdc/projects/{project-id}
### GET
To show the Project information after creation or whenever you need it. While creating a new project, poll this resource until the `state` is **ENABLED** or **DELETED**.

+ Request 
    + Headers

            Accept: application/json

+ Response 200 (application/json)

        {
           "project" : {
              "content" : {
                 "guidedNavigation" : "1",
                 "isPublic" : "0",
                 "state" : "ENABLED"
              },
              "links" : {
                 "roles" : "/gdc/projects/{project-id}/roles",
                 "ldm_thumbnail" : "/gdc/projects/{project-id}/ldm?thumbnail=1",
                 "connectors" : "/gdc/projects/{project-id}/connectors",
                 "self" : "/gdc/projects/{project-id}",
                 "invitations" : "/gdc/projects/{project-id}/invitations",
                 "users" : "/gdc/projects/{project-id}/users",
                 "ldm" : "/gdc/projects/{project-id}/ldm",
                 "publicartifacts" : "/gdc/projects/{project-id}/publicartifacts",
                 "metadata" : "/gdc/md/{project-id}",
                 "templates" : "/gdc/md/{project-id}/templates"
              },
              "meta" : {
                 "created" : "2012-05-01 23:56:01",
                 "summary" : "Project Summary",
                 "updated" : "2012-05-01 23:56:01",
                 "author" : "/gdc/account/profile/{user-id}",
                 "title" : "Project Name",
                 "contributor" : "/gdc/account/profile/{user-id}"
              }
           }
        }

### DELETE
This API call will DELETE your defined project. Only Project ADMIN can do this action.

+ Request 
    + Headers

            Accept: application/json

+ Response 200 (application/json)

        {}

## /gdc/account/profile/{user-id}/projects
### GET
To list all existing projects

+ Request 
    + Headers

            Accept: application/json

+ Response 200 (application/json)

        {
           "projects" : [
              {
                 "project" : {
                    "content" : {
                       "guidedNavigation" : "1",
                       "isPublic" : "0",
                       "state" : "ENABLED"
                    },
                    "links" : {
                       "roles" : "/gdc/projects/{project-id}/roles",
                       "ldm_thumbnail" : "/gdc/projects/{project-id}/ldm?thumbnail=1",
                       "userPermissions" : "/gdc/projects/{project-id}/users/{user-id}/permissions",
                       "userRoles" : "/gdc/projects/{project-id}/users/{user-id}/roles",
                       "connectors" : "/gdc/projects/{project-id}/connectors",
                       "self" : "/gdc/projects/{project-id}",
                       "invitations" : "/gdc/projects/{project-id}/invitations",
                       "users" : "/gdc/projects/{project-id}/users",
                       "ldm" : "/gdc/projects/{project-id}/ldm",
                       "metadata" : "/gdc/md/{project-id}",
                       "publicartifacts" : "/gdc/projects/{project-id}/publicartifacts",
                       "templates" : "/gdc/md/{project-id}/templates"
                    },
                    "meta" : {
                       "created" : "YYYY-MM-DD HH:MM:SS",
                       "summary" : "Project Summary",
                       "updated" : "YYYY-MM-DD HH:MM:SS",
                       "author" : "/gdc/account/profile/{user-id}",
                       "title" : "Project Name",
                       "contributor" : "/gdc/account/profile/{user-id}"
                    }
                 }
              } ]
        }

## Export a complete project [/gdc/md/{project_id}/maintenance/export]

+ Parameters
  + project_id (required,string)...The ID of the project you want to export.

### Export a complete project [POST]

* `exportUsers` (required, boolean) - Specifies whether to include users in the export.  
**Default:** 1
* `exportData ` (required, boolean) - Specifies whether to include project data in the export.  
**Default:** 1
* `authorizedUsers` (optional, string) - Comma-separated list of email addresses of users authorized to import the project. Surround email addresses with double quotes.
* `excludeSchedule` (optional, boolean) - Specifies whether to include scheduled Emails in the export. All schedules you import to a project are enabled, even if they were disabled when exported.  
**Default:** 0

**Response** 
* `status` (uri) - URI where you can poll for the status of the export.
* `token` (string) - Token to use to import the exported metadata.

+ Request (application/json)
    + Headers

            Accept: application/json

    + Body

            { "exportProject" : {
                 "exportUsers" : "1 | 0",
                 "exportData" : "1 | 0",
                 "excludeSchedules" "1 | 0"
              }
            }

+ Response 200 (application/json)

        {
           "exportArtifact" : {
              "status" : {
                 "uri" : "/gdc/md/{project_id}/etltask/{task_id}"
              },
              "token" : "EXPORT_TOKEN"
           }
        }

### Import a complete project [/gdc/md/{project_id}/maintenance/import]

+ Parameters
  + project_id (required,string)...The ID of the project where you want to import the project token.

#### Import a complete project [POST]

* `token` (required, string) - Token to use to import the exported metadata. This token is created during export.

**NOTE:** All schedules you import to a project are enabled, even if they were disabled when exported.

**Default:** 0

+ Request (application/json)
    + Headers

            Accept: application/json

    + Body

            { 
            "importProject" : {
              "token" : "TOKEN_STRING",
              }
            }

+ Response 200 (application/json)

        {
        "uri" : "/gdc/md/{project_id}/etltask/{task_id}"
        }


## /gdc/projects/{project-id}/styleSettings
### PUT
To create your own custom colour palette in given Project

+ Request (application/json)
    + Headers

            Accept: application/json

    + Body

            {"styleSettings" :
               {"chartPalette": [ 
                  { "guid": "guid1", "fill": { "r":255, "g":255, "b":0 } }, 
                  { "guid": "guid2", "fill": { "r":255, "g":255, "b":40 } }, 
                  { "guid": "guid3", "fill": { "r":255, "g":255, "b":80 } }, 
                  { "guid": "guid4", "fill": { "r":255, "g":255, "b":120 } }, 
                  { "guid": "guid5", "fill": { "r":255, "g":255, "b":180 } }, 
                  { "guid": "guid6", "fill": { "r":255, "g":255, "b":200 } } 
                  ]
               }
            }

+ Response 204 

### GET
To GET your current color palette

+ Request
    + Headers

            Accept: application/json

+ Response 200 (application/json)

        {"styleSettings" :
           {"chartPalette": [ 
              { "guid": "guid1", "fill": { "r":255, "g":255, "b":0 } }, 
              { "guid": "guid2", "fill": { "r":255, "g":255, "b":40 } }, 
              { "guid": "guid3", "fill": { "r":255, "g":255, "b":80 } }, 
              { "guid": "guid4", "fill": { "r":255, "g":255, "b":120 } }, 
              { "guid": "guid5", "fill": { "r":255, "g":255, "b":180 } }, 
              { "guid": "guid6", "fill": { "r":255, "g":255, "b":200 } } 
              ]
           }
        }

### DELETE
To Delete/Reset your own custom colour palette in given Project

+ Request
    + Headers

            Accept: application/json

+ Response 204

## /gdc/projects/{project-id}/roles
### GET
To GET User roles for given project. Use following API call. There are 6 default roles (id 1-5), but these IDs are not fixed for specific user roles. You have to GET role details (following API call below) to set User roles correctly.

+ Request
    + Headers

            Accept: application/json

+ Response 200 (application/json)

        {
            "projectRoles": {
                "roles": [
                    "/gdc/projects/{project-id}/roles/{role-id}",
                    "/gdc/projects/{project-id}/roles/{role-id}"
                ],
                "links": {
                    "project": "/gdc/projects/{project-id}/"
                }
            }
        }

## /gdc/projects/{project-id}/roles/{role-id}
### GET
To GET details about specific project role, use this API call.

+ Request
    + Headers

            Accept: application/json

+ Response 200

        {
            "projectRole": {
                "permissions": {
                    "canAccessIntegration": "0",
                    "canCreateProjectDashboard": "0",
                    "canManageComment": "0",
                    "canCreateDimensionMapping": "0",
                    "canInitData": "0",
                    "canManageIntegration": "0",
                    "canManageFolder": "0",
                    "canInviteUserToProject": "0",
                    "canCreateDomain": "0",
                    "canCreateTableDataLoad": "0",
                    "canSeeOtherUserDetails": "0",
                    "canCreateETLInterface": "0",
                    "canCreateRole": "0",
                    "canCreateReportResult": "1",
                    "canCreateHelp": "0",
                    "canManageDomain": "0",
                    "canManageAttributeLabel": "0",
                    "canCreateColumn": "0",
                    "canManageReport": "0",
                    "canManageDataSet": "0",
                    "canSetUserVariables": "0",
                    "canCreateAttributeGroup": "0",
                    "canValidateProject": "0",
                    "canMaintainProject": "0",
                    "canCreateETLFile": "0",
                    "canCreateScheduledMail": "0",
                    "canManageETLSession": "0",
                    "canSuspendUserFromProject": "0",
                    "canMaintainUserFilterRelation": "0",
                    "canManageAttribute": "0",
                    "canManageReportDefinition": "0",
                    "canCreateReportResult2": "1",
                    "canMaintainUserFilter": "0",
                    "canCreateReport": "0",
                    "canManageETLFile": "0",
                    "canCreateComment": "0",
                    "canCreateDataSet": "0",
                    "canCreateTable": "0",
                    "canManageTableDataLoad": "0",
                    "canManageDimensionMapping": "0",
                    "canCreateMetric": "0",
                    "canRefreshData": "0",
                    "canManageProjectDashboard": "0",
                    "canManageProject": "0",
                    "canManagePrompt": "0",
                    "canManageETLInterface": "0",
                    "canManageReportResult2": "0",
                    "canAccessWorkbench": "0",
                    "canCreateAttributeLabel": "0",
                    "canManageColumn": "0",
                    "canCreatePrompt": "0",
                    "canManagePublicAccessCode": "0",
                    "canListUsersInProject": "0",
                    "canManageAttributeGroup": "0",
                    "canManageMetric": "0",
                    "canManageHelp": "0",
                    "canManageTable": "0",
                    "canSetProjectVariables": "0",
                    "canCreateETLSession": "0",
                    "canCreateFolder": "0",
                    "canManageFact": "0",
                    "canListInvitationsInProject": "0",
                    "canManageScheduledMail": "0",
                    "canManageReportResult": "1",
                    "canManageAnnotation": "0",
                    "canSeePublicAccessCode": "0",
                    "canCreateReportDefinition": "1",
                    "canCreateFact": "0",
                    "canCreateAttribute": "0",
                    "canAssignUserWithRole": "0",
                    "canCreateAnnotation": "0"
                },
                "links": {
                    "roleUsers": "/gdc/projects/{project-id}/roles/{role-id}/users"
                },
                "meta": {
                    "created": "2012-07-25 11:28:52",
                    "identifier": "dashboardOnlyRole",
                    "summary": "dashboard only",
                    "author": "/gdc/account/profile/{user-id}",
                    "updated": "2012-07-25 11:28:52",
                    "title": "Embedded Dashboard Only",
                    "contributor": "/gdc/account/profile/{user-id}"
                }
            }
        }
        

## /gdc/md/{project-id}/service/timezone
### POST
To change the Project timezone. Find more information [in the article](https://developer.gooddata.com/article/setting-a-custom-time-zone-for-your-project). Use [Olson DB timezone](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) identifiers.

+ Request (application/json)
    + Headers

            Accept: application/json

    + Body

            {
             "service": {
                "timezone": "UTC"
                        }
            }

+ Response 200

    + Headers
    
            Content-Type: application/json
            
    + Body
    
            {
             "service": {
                "timezone": "UTC"
                        }
            }
            

# Group User
<a id="user" ></a>
To manage users via the User Provisioning API Resources, you need to have your own domain. If you have it, you can simply use the requests below.

###User Properties  
- login (string) : User login         
- password (string) : User password
- verifyPassword (string) : Password for verification
- email : User's email for invitations, used as contact email
- firstname (string) : User's firstname
- lastname (string) : User's lastname
- userRoles (uri) : Uri to the specific user roles
- projectUsersUpdateResult : Give an array of successful/failed created users
- companyName (string) : Name of user's company
- country (string) : User's country
- created (date) : Date of user creation
- updated (date) : Date of user properties update
- phoneNumber : User's phonenumber
- position (string) : User's position in a company
- authenticationModes (array of strings) : an optional field specifying authentication modes (SSO, PASSWORD) allowed for this user. The value of this field overrides the global settings for the domain.

## /gdc/account/domains/{organization-name}/users
### POST
To create new user in your domain - use this resource. The API will give you new user's uri. You have to be ORGANIZATION admin for provision the user to the Project.

+ Request
    + Headers

            Accept: application/json

    + Body

            {
             "accountSetting":{
                "login": "user@login.com",
                "password":"PASSWORD",
                "email":"contact@email.com",
                "verifyPassword":" PASSWORD ",
                "firstName":"FirstName",
                "lastName":"LastName",
                "ssoProvider":"SSO-PROVIDER"
             }
            }

+ Response 200

        {
        "uri" : "/gdc/account/profile/{profile-id}"
        }

### GET
Lists all users in a domain

+ Request
    + Headers

            Accept: application/json

+ Response 200

        {
            "accountSettings": {
                "paging": {
                    "offset": 0,
                    "count": 14
                },
                "items": [
                    {
                        "accountSetting": {
                            "companyName": "Company",
                            "country": "cz",
                            "created": "2011-08-10 08:37:46",
                            "firstName": "John",
                            "lastName": "Doe",
                            "login": "user.name@company.com",
                            "ssoProvider":"SSO-PROVIDER",
                            "phoneNumber": "+420724722926",
                            "position": "",
                            "settings": "{\"_VERSION\":\"1.1\",\"currentProjectUri\":\"/gdc/projects/{project-id}\",\"/gdc/projects/{project-id}\":{\"dashboard\":[\"/gdc/md/{project-id}/obj/{obj-id}\",\"abcdef\"]},\"releaseNotice\":[\"stable_67\"],\"/gdc/projects/{project-id}\":{\"dashboard\":[\"/gdc/md/{project-id}/obj/{obj-id}\",\"ghchijk\"]},\"hint-projectPage-invite-people\":false,\"/gdc/projects/{project-id}\":{\"dashboard\":[\"/gdc/md/{project-id}/obj/{obj-id}\",\"lmnopq\"]}}",
                            "timezone": null,
                            "updated": "2012-02-20 16:20:28",
                            "links": {
                                "projects": "/gdc/account/profile/{user-id}/projects",
                                "self": "/gdc/account/profile/{user-id}"
                            }
                        }
                    },
                    {
                        "accountSetting": {
                            "companyName": "",
                            "country": "",
                            "created": "2011-11-03 15:16:52",
                            "firstName": "Alice",
                            "lastName": "Wonderland",
                            "login": "example@company.com",
                            "phoneNumber": "",
                            "position": "",
                            "settings": "",
                            "timezone": null,
                            "ssoProvider":"SSO-PROVIDER",
                            "updated": "2011-12-15 14:40:37",
                            "links": {
                                "projects": "/gdc/account/profile/{user-id}/projects",
                                "self": "/gdc/account/profile/{user-id}"
                            }
                        }
                    }
                ]
            }
        }


## /gdc/account/domains/{organization-name}/users?login={some-encoded-login}
### GET
To GET specific user in Organization that fits the login parameter.

**Login parameter:** You can use _login_ parameter that will return exactly one user object specify by email that is [encoded](http://en.wikipedia.org/wiki/Percent-encoding#Percent-encoding_reserved_characters). Example  
login: _user@gooddata.com_ will be encoded as _?login=user%40gooddata.com_

+ Request
    + Headers

            Accept: application/json

+ Response 200

         {
              "accountSettings": {
                  "paging": {
                      "offset": 0,
                      "count": 1
                },
                "items": [
                    {
                        "accountSetting": {
                            "companyName": null,
                            "country": null,
                            "created": "2014-02-24 18:51:53",
                            "firstName": "John",
                            "lastName": "Doe",
                            "login": "example@company.com",
                            "phoneNumber": null,
                            "position": null,
                            "timezone": null,
                            "updated": "2014-02-24 18:51:53",
                            "links": {
                                "projects": "/gdc/account/profile/{user-id}/projects",
                                "self": "/gdc/account/profile/{user-id}"
                            },
                            "email": "example@company.com"
                        }
                    }
                ]
            }
         }


## /gdc/projects/{project-id}/users?offset=0&limit=5
### GET
To GET all users in Project

**Paging:** This resource _optionally_ allows paging. Use _offset_ and _limit_ parameters on the end of the URI. example: **users?offset=1&limit=3**
+ Request
    + Headers

            Accept: application/json

+ Response 200

        {
           "users" : [
              {
                 "user" : {
                    "content" : {
                       "email" : "user@domain.com",
                       "firstname" : "John",
                       "userRoles" : [
                          "/gdc/projects/{project_id}/roles/{role-id}"
                       ],
                       "phonenumber" : "+777777777",
                       "status" : "ENABLED",
                       "lastname" : "Doe",
                       "login" : "user@domain.com"
                    },
                    "links" : {
                       "roles" : "/gdc/projects/{project_id}/users/{user-id}/roles",
                       "permissions" : "/gdc/projects/{project_id}/users/{user-id}/permissions",
                       "groups" : "/gdc/projects/{project_id}/users/{user-id}/groups",
                       "self" : "/gdc/account/profile/{project_id}",
                       "invitations" : "/gdc/account/profile/{project_id}/invitations",
                       "projects" : "/gdc/account/profile/{project_id}/projects",
                       "projectRelUri" : "/gdc/projects/{project_id}/users/{user-id}"
                    },
                    "meta" : {
                       "created" : "2011-08-10 08:37:46",
                       "updated" : "2013-05-27 11:08:09",
                       "author" : "/gdc/account/profile/{user-id}",
                       "title" : "Jane Doe",
                       "contributor" : "/gdc/account/profile/{user-id}"
                    }
                 }
              }
           ]
        }
        



## /gdc/projects/{project-id}/users
### POST
To add created User to the Project. There are several default User roles in every project:  

- readOnlyUserRole  
- dashboardOnlyRole  
- adminRole  
- editorRole  
- unverifiedAdminRole  

These roles don't have fixed ID. You need to GET the information from diferent API call. See the Project API section.

+ Request
    + Headers

            Accept: application/json

    + Body

            { "user" : {
                 "content" : {
                       "status":"ENABLED",
                       "userRoles":["/gdc/projects/{project-id}/roles/{role-id}"]
                             },
                 "links"   : {
                       "self":"/gdc/account/profile/{user-id}"
                            }
                }
            }

+ Response 200

        {"projectUsersUpdateResult":{
            "successful":["/gdc/account/profile/{user-id}"],
            "failed":[]}
        }


## /gdc/projects/{project-id}/users
### POST
To **disable** user in the Project use similar call as for provisioning. But use the DISABLED key word instead  

+ Request
    + Headers

            Accept: application/json

    + Body

            { "user" : {
                 "content" : {
                       "status":"DISABLED",
                       "userRoles":["/gdc/projects/{project-id}/roles/{role-id}"]
                             },
                 "links"   : {
                       "self":"/gdc/account/profile/{user-id}"
                            }
                }
            }

+ Response 200

        {"projectUsersUpdateResult":{
            "successful":["/gdc/account/profile/{user-id}"],
            "failed":[]}
        }
        

## /gdc/account/profile/current
### GET
You can get information about your currently logged in user. 

+ Request (application/json)
    + Headers

            Accept: application/json

    + Body

            {
            "accountSetting": {
                  "country": "cz",
                  "firstName": "George",
                  "ssoProvider": null,
                  "timezone": null,
                  "position": "",
                  "companyName": "GoodData",
                  "login": "user@gooddata.com",
                  "email": "user@gooddata.com",
                  "created": "2011-08-10 08:37:46",
                  "updated": "2014-03-17 14:02:40",
                  "lastName": "Smith",
                  "phoneNumber": "123456789",
                  "links" : {
                        "self" : "/gdc/account/profile/{user-id}",
                        "projects" : "/gdc/account/profile/{user-id}/projects"
                            }
                }
              }

+ Response 200


## /gdc/projects/{project-id}/invitations
### POST
Use this resource for invite user to the Project. The invitation email will be sent.

+ Request
    + Headers

            Accept: application/json

    + Body

            {
                "invitations": [
                    {
                        "invitation": {
                            "content": {
                                "email": "invited.user.mail@company.com",
                                "userFilters": [ "/gdc/md/{project_id}/obj/{object_id}" ], 
                                "role": "/gdc/projects/{project-id}/roles/{role-id}",
                                "firstname": "firstname",
                                "lastname": "lastname",
                                "action": {
                                    "setMessage": "You can set message here!"
                                }
                            }
                        }
                    }
                ]
            }

+ Response 200

        {
            "createdInvitations": {
                "uri": [
                    "/gdc/projects/{project-id}/invitations/{invitation-id}"
                ]
            }
        }

## /gdc/account/profile/{user-id}
### PUT
You are able to update the User information 

+ Request (application/json)
    + Headers

            Accept: application/json

    + Body

            {
                "accountSetting": {
                    "firstName": "John",
                    "lastName": "Doe",
                    "ssoProvider": "salesforce.com",
                    "password": "area51x",
                    "verifyPassword": "area51x"
                }
            }

+ Response 200

### DELETE
Use this request to delete User 

+ Request
    + Headers

            Accept: application/json

+ Response 200

<!-- WA-3505

## Manage Default Embedded Objects [/gdc/account/profile/{profile_id}/settings/defaults]

Use default embedding values to direct a user to an embedded project without specifying its project ID in the URL.  
When a user navigates to `https://secure.gooddata.com/dashboard.html`, the objects you specified using this resource are loaded (as if the parameter values are appended to `https://secure.gooddata.com/dashboard.html`). These settings are typically set up during user provisioning.

Default embedded object settings are part of a user's profile. Organizational admins can manage default embedded objects for any user in their organization.

**Note:** If no default embedded objects are specified, the user is directed to the first project, dashboard and tab in their profile.

**Steps:**

1. Set up the default embedded objects for a using this resource.
2. The user navigates to `https://secure.gooddata.com/dashboard.html`.  
3. The project, dashboard, and optionally tab specified as default embedded objects are loaded.


+ Parameters
    + profile_id (string, required)...The ID of the user you are managing default embedded objects for. 

### Create or update default embedded objects [PUT]

* `projectUri` (required, URI) -  the URI of the project to be displayed.
* `dashboardUri` (optional, URI) -  the URI of the dashboard to be displayed. This dashboard must be part of the project specified in `projectUri`.
* `tabId` (optional, string) - The ID of the tab to be displayed. This tab must be part of the dashboard specified in `dashboardUri`.  
**Default:** When no tab is specified, and first tab in the dashboard is loaded.

+ Request (application/json)


    + Body

            {
              "defaults" : {
                "projectUri" : "/gdc/projects/GoodSalesDemo",
                "dashboardUri" : "/gdc/md/GoodSalesDemo/obj/{dashboard_id}",
                "tabId" : null
                }
              }
            }

+ Response 204 (application/json)


###  Get default embedded objects [GET]

**Response**

* `projectUri` -  the URI of the project to be displayed.
* `dashboardUri` -  the URI of the dashboard to be displayed. This dashboard must be part of the project specified in `projectUri`.
* `tabId` - The ID of the tab to be displayed. This tab must be part of the dashboard specified in `dashboardUri`.  
**Default:** When no tab is specified, and first tab in the dashboard is loaded.
* `self` - The URI of the user the default embedded objects apply to.

+ Request (application/json)

        
+ Response 200 (application/json)

           {
              "defaults" : {
                "projectUri" : "/gdc/projects/GoodSalesDemo",
                "dashboardUri" : "/gdc/md/GoodSalesDemo/obj/{dashboard_id}",
                "tabId" : {tab_id}, 
                "links" : {
                  "self" : "/account/profile/{profile_id}/settings/defaults"
                }
              }
            }

### Delete default embedded objects [DELETE]

+ Request (application/json)



+ Response 204 (application/json)

-->


# Group Project Model
<a id="data-model" ></a>
The data model is the core concept of GoodData. It can be managed and validated using following API resources. Model is created/managed by using the MAQL language and script.

##Model properties
- maql : MAQL script for creating/updating logical data model
- validateProject : IO - Input/Output, LDM - Logical Data Model, PDM - Physical Data Model

### Limitations
Most severe limitation of current Project Model API is it's inability to work with projects in which single dataset contains a hierarchy of attributes (other than relation between dataset's anchor and it's other attributes). For the API to work correctly, all datasets in project's logical data model must be loading a single star schema. This is always true for models maintained via cl-tool, CloudConnect or Project Model API, however, this requirement may be easily broken when modyfying project's model directly through MAQL DDL. We'll try to improve the expressiveness of the API (and with this, expanding the set of supported projects) in the future.

## Project Model Representation

### Common properties of model objects:
Types of object for which the given property is applicable are included in parentheses.

* ``identifier`` _required_ (dataset, attribute, fact, label) - identifier unique among all objects; it must start with a letter, followed by lower and upper-case letters, numbers, dots ``.`` and underscores ``_``
* ``title`` _required_ (dataset, date dimension, attribute, fact, label) - short human-readable description of the object; main representation of the object in UI
* ``description`` (dataset, attribute, fact, label) - longer human-readable description of the object
* ``folder`` (attribute, fact) - title of folder in which the object should be categorized
* ``dataType`` (fact, label) - specifies data type of values loaded for the given object; defaults to ``DECIMAL(12,2)`` for facts and ``VARCHAR(128)`` for labels

### Special properties of model objects:

* __Dataset__
    * ``anchor`` - attribute with finest granularity (same granularity as facts, if there are any) that provides identity to dataset records and can be used for ``COUNT``ing number of records in it's fact table; dataset _A_ is required to have an anchor with at least one label if there's a dataset _B_  that has a reference to _A_ (values of anchor's label are used to link data from multiple datasets together)
    * ``attributes`` - all other attributes in the dataset (except anchor); these have coarser granularity than the anchor and can be used in reports build from facts in the same dataset; f.ex. if anchor is _Employee ID_ then _Sex_ could be one of the attributes
    * ``facts`` - facts about the concept identified by anchor; f.ex. if anchor is _Employee ID_, _Age_ could be one of the facts
    * ``references`` - array of identifiers of other datasets and names of date dimensions; if dataset _Employee_ has a _reference_ to dataset _Department_, then you can use attributes of _Department_ in reports based on facts of _Employee_
* __DateDimension__
    * ``name`` _required_ - identifies the date dimension; rules for ``identifier``s apply (must be unique, limited characters)
* __Attribute__
    * ``defaultLabel`` - identifier of the label that contains default visual representation of attribute's value
    * ``sortOrder`` - defines how attribute values should be ordered; you must specify label to sort by and direction - sample value: ``{ "attributeSortOrder" : { "label" : "label.person.id.name", "direction" : "ASC" } }``
* __Label__
    * ``type`` - type of label; defaults to ``GDC.text``; supported values:
        * ``GDC.text`` - normal label, presented as plain text in the UI
        * ``GDC.link`` - label contains URL and is presented as clickable hyperlink in the UI

## Obtaining current LDM of a project

Assembly of project model is currently a lehgthy process and so the API has to be asynchronous. We'll try to optimize this in the future.

When inspecting project metadata, we may find out that project does not conform to rules described in [Limitations](#pma-limitations). The result in that case will still be a ``200 OK``, but you'll see some validation errors returned together with the resulting model. You should not rely on such model. It's only provided for convenience so that it can be inspected. You won't be able to modify such project through Project Model API.

Properties of validation error:

* ``code`` - unique code of the type of validation problem (can be relied on as a localization key for ``message``)
* ``context`` - array of identifiers of objects breaking validation rules
* ``message`` - human-readable message describing the problem (with ``%s`` placeholders for message params)
* ``parameters`` - parameters for the message
* ``reparable`` - ``true`` if this problem can be repaired through this API, ``false`` if you won't be available to perform diffs against such project & will have to resolve the problem manually (f.ex. through hand-crafted MAQL DDL)

_List of validation errors will be empty for projects with supported models. If it isn't, you'll have to manually resolve (through MAQL DDL) all issues before you'll be able to use this API to update such project's model._

## GET /gdc/projects/{project-id}/model/view
Starts project model assembly. Returns link to a polling resource that will eventually return assembled model.

+ Request

    + Headers

            Accept: application/json

+ Response 202 (application/json)

    + Headers

            Location: /gdc/projects/{project-id}/model/view/{view-id}

    + Body

            {
                "asyncTask": {
                    "link": {
                        "poll": "/gdc/projects/{project-id}/model/view/{view-id}"
                    }
                }
            }

## GET /gdc/projects/{project-id}/model/view/{view-id}
Poll to obtain assembled project model.

<!--**Note:** Computed attributes do not appear in project models.
-->
+ Request

    + Headers

            Accept: application/json

    + Response 202 (application/json)

            {
                "asyncTask": {
                    "link": {
                        "poll": "/gdc/projects/{project-id}/model/view/{view-id}"
                    }
                }
            }

    + Response 200 (application/json)

        + Body

                {
                    "projectModelView": {
                        "model": {
                    "projectModel": {
                     "datasets": [
                      {
                        "dataset": {
                            "identifier": "dataset.salary",
                            "title": "Payments",
                            "anchor": {
                                "attribute": {
                                    "identifier": "attr.salary.salary",
                                    "title": "Salary ID",
                                    "labels": [
                                        {
                                            "label": {
                                                "identifier": "label.salary.salary",
                                                "title": "Salary ID",
                                                "type": "GDC.text",
                                                "dataType": "VARCHAR(128)"
                                            }
                                        }
                                    ],
                                    "defaultLabel": "label.salary.salary"
                                }
                            },
                            "facts": [
                                {
                                    "fact": {
                                        "identifier": "fact.salary.payment",
                                        "title": "Payment",
                                        "dataType": "DECIMAL(12,2)"
                                    }
                                }
                            ],
                            "references": [
                                "dataset.employee",
                                "salary"
                            ]
                        }
                    },
                    {
                        "dataset": {
                            "identifier": "dataset.employee",
                            "title": "Employee",
                            "anchor": {
                                "attribute": {
                                    "identifier": "attr.employee.employee",
                                    "title": "Employee ID",
                                    "labels": [
                                        {
                                            "label": {
                                                "identifier": "label.employee.employee",
                                                "title": "Employee ID",
                                                "type": "GDC.text",
                                                "dataType": "VARCHAR(128)"
                                            }
                                        }
                                    ],
                                    "defaultLabel": "label.employee.employee"
                                }
                            },
                            "attributes": [
                                {
                                    "attribute": {
                                        "identifier": "attr.employee.name",
                                        "title": "Name",
                                        "labels": [
                                            {
                                                "label": {
                                                    "identifier": "label.employee.name",
                                                    "title": "Name",
                                                    "type": "GDC.text",
                                                    "dataType": "VARCHAR(128)"
                                                }
                                            }
                                        ],
                                        "defaultLabel": "label.employee.name"
                                    }
                                }
                            ],
                            "references": [
                                "dataset.department"
                            ]
                        }
                    },
                    {
                        "dataset": {
                            "identifier": "dataset.department",
                            "title": "Department",
                            "anchor": {
                                "attribute": {
                                    "identifier": "attr.department.department",
                                    "title": "Department ID",
                                    "labels": [
                                        {
                                            "label": {
                                                "identifier": "label.department.department",
                                                "title": "Department ID",
                                                "type": "GDC.text",
                                                "dataType": "VARCHAR(128)"
                                            }
                                        },
                                        {
                                            "label": {
                                                "identifier": "label.department.department.name",
                                                "title": "Name",
                                                "type": "GDC.text",
                                                "dataType": "VARCHAR(128)"
                                            }
                                        }
                                    ],
                                    "defaultLabel": "label.department.department"
                                }
                            }
                        }
                    }
                ],
                "dateDimensions": [
                    {
                        "dateDimension": {
                            "name": "salary",
                            "title": "Pay Date"
                          }
                        }
                      ]
                     }
                     }
                    }
                }
                
# Group Generate MAQL DDL to update project
Resources to generate MAQL DDL to update project's model to the desired target state. It does not modify the model itself, but gives you MAQL DDL scripts that can be executed via the ``/gdc/md/{project-id}/ldm/manage2`` resource.

### The result

### Update operations

Diff between the two model states - operations that should be applied to current project model to make it equal to the submitted ``targetModel``. The list is not meant to be an authoritative representation of the diff. It's granularity is based on current MAQL DDL grammar and it can be changed in the future without notice. It's therefore more useful for presentation to user for inspection than automatic inspection in code.

List of update operations will be empty if the project's model is already equal to the provided ``targetState``.

Each update operation has the following properties:

* ``type`` - unique identifier of operation type (can be relied on as localization key for the description); in time, new operation types may be created and old ones discontinued; we don't recommend relying on it's value for anything besides grouping simmilar changes together
* ``dataset`` - optional identifier of the dataset to which this operation is related; inteded for presentation purposes
* ``destructive`` - ``true`` if the operation may result in dropping existing PDM objects, ``false`` otherwise
* ``description`` - human-readable description of the change (with ``%s`` placeholders for parameters)
* ``parameters`` - parameters for the ``description``

### Update scripts

If the list of update operations is non-empty, ``updateScripts`` property of the response will contain one or more variants of MAQL DDL that can be executed to actually evolve project's model. Each variant is generated with distinct settings and some combination of optionas may not be available (see below).

Each update script has the following properties:

* ``maqlDdlChunks`` - a list of MAQL DDL scripts that can executed sequentially via the ``/gdc/md/{project-id}/ldm/manage2`` resource to actually perform model evolution
* ``preserveData`` - ``true`` if script execution won't truncate data currently loaded in affected datasets, ``false`` otherwise; some changes of the model will result in this option not being available (``preserveData: false`` in all update script variants)
* ``cascadeDrops`` - ``true`` if generated MAQL use ``DROP``s with the ``CASCADE`` option; such drops transitively delete all dashboard objects connected to the dropped LDM object, so you should only execute it if you're certain that you don't need metrics / reports / dashboards that use the dropped object; if the generated MAQL doesn't drop anything, this option will be ``false`` in all update script variants

## Example

In the example below, we simulate generation of evolution MAQL script for the model included in the example response of the ``/gdc/projects/{project-id}/model/view`` resource. The target model contains one extra fact (``fact.employee.age``).

## POST /gdc/projects/{project-id}/model/diff
Post desired target LDM state to start the MAQL generation process. Returns link to a polling resource that will eventually return the diff.

+ Request

    + Headers

            Accept: application/json
            Content-Type: application/json

    + Body

            {
                "diffRequest": {
                    "targetModel": {
                        "projectModel": {
                            "datasets": [
                                {
                                    "dataset": {
                                        "identifier": "dataset.employee",
                                        "title": "Employee",
                                        "anchor": {
                                            "attribute": {
                                                "identifier": "attr.employee.employee",
                                                "title": "Employee",
                                                "folder": "Employee",
                                                "labels": [
                                                    {
                                                        "label": {
                                                            "identifier": "label.employee.employee",
                                                            "title": "Employee",
                                                            "dataType": "INT",
                                                            "type": "GDC.text"
                                                        }
                                                    },
                                                    {
                                                        "label": {
                                                            "identifier": "label.employee.employee.name",
                                                            "title": "Employee Name",
                                                            "dataType": "VARCHAR(128)",
                                                            "type": "GDC.text"
                                                        }
                                                    }
                                                ],
                                                "defaultLabel": "label.employee.employee.name",
                                                "sortOrder": { 
                                                    "attributeSortOrder" : { 
                                                        "label" : "label.employee.employee.name",
                                                        "direction" : "ASC"
                                                    }
                                                }
                                            }
                                        },
                                        "facts": [
                                            {
                                                "fact": {
                                                    "identifier": "fact.employee.age",
                                                    "title": "Employee Age",
                                                    "folder": "Employee"
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "dataset": {
                                        "identifier": "dataset.salary",
                                        "title": "Salary",
                                        "anchor": {
                                            "attribute": {
                                                "identifier": "attr.salary.factsof",
                                                "title": "Records of Salary",
                                                "folder": "Salary"
                                            }
                                        },
                                        "facts": [
                                            {
                                                "fact": {
                                                    "identifier": "fact.salary.payment",
                                                    "title": "Payment",
                                                    "folder": "Salary",
                                                    "dataType": "DECIMAL(12,2)"
                                                }
                                            }
                                        ],
                                        "references": ["dataset.employee", "payment"]
                                    }
                                }
                            ],
                            "dateDimensions": [
                                {
                                    "dateDimension": {
                                        "name": "payment",
                                        "title": "Payment"
                                    }
                                }
                            ]
                        }
                    }
                }
            }

+ Response 202 (application/json)

    + Headers

            Location: /gdc/projects/{project-id}/model/diff/{diff-id}

    + Body

            {
                "asyncTask": {
                    "link": {
                        "poll": "/gdc/projects/{project-id}/model/diff/{diff-id}"
                    }
                }
            }

## GET /gdc/projects/{project-id}/model/diff/{diff-id}
Poll to get resulting diff & MAQL.

+ Request

    + Headers

            Accept: application/json


+ Response 202 (application/json)

        {
            "asyncTask": {
                "link": {
                    "poll": "/gdc/projects/{project-id}/model/diff/{diff-id}"
                }
            }
        }

+ Response 200 (application/json)

        {
            "projectModelDiff" : {
                "updateOperations": [
                    {
                        "updateOperation": {
                            "type": "create.fact",
                            "dataset": "dataset.employee",
                            "destructive": false,
                            "description": "Create Fact '%s'",
                            "paramaters": ["Employee Age"]
                        }
                    }
                ],
                "updateScripts": [
                    {
                        "updateScript": {
                            "maqlDdlChunks": [ "CREATE FOLDER {ffld.employee} VISUAL(TITLE \"Employee\") TYPE FACT;\nCREATE FACT {fact.employee.age} VISUAL(TITLE \"Employee Age\", FOLDER {ffld.employee}) AS {f_employee.f_age};\nALTER DATASET {dataset.employee} ADD {fact.employee.age};\nSYNCHRONIZE {dataset.employee} PRESERVE DATA;" ],
                            "preserveData": true,
                            "cascadeDrops": false
                        }
                    },
                    {
                        "updateScript": {
                            "maqlDdlChunks": [ "CREATE FOLDER {ffld.employee} VISUAL(TITLE \"Employee\") TYPE FACT;\nCREATE FACT {fact.employee.age} VISUAL(TITLE \"Employee Age\", FOLDER {ffld.employee}) AS {f_employee.f_age};\nALTER DATASET {dataset.employee} ADD {fact.employee.age};\nSYNCHRONIZE {dataset.employee};" ],
                            "preserveData": false,
                            "cascadeDrops": false
                        }
                    }
                ]
            }
        }
       
       
# Group Execute MAQL DDL and Project Model Validation
Resources to execute MAQL DDL to create/update project's model to the desired target state. 

## POST /gdc/md/{project-id}/ldm/manage
**WARNING!** - This resource **will be deprecated**. Please use [ldm/manage2](#manage2) instead.

+ Request
    
    + Headers
    
            Content-Type: application/json

    + Body

            {
               "manage" : {
                  "maql" : "CREATE ATTRIBTE {my_attribute}"
               }
            }

+ Response 200


## POST /gdc/md/{project-id}/ldm/manage2
<a id="manage2" ></a>
Resource for executing MAQL DDL Scripts for data model management. The resource is asynchronous, you have to poll the returned URL to get the result. Follow the [instructions in the article](https://developer.gooddata.com/article/creating-analytical-project-with-maql-ddl) to learn more details about Data Model Creation.

+ Request
    
    + Headers
    
            Content-Type: application/json
            Accept: application/json

    + Body

            {
               "manage" : {
                  "maql" : "CREATE ATTRIBTE {my_attribute}"
               }
            }

+ Response 200

    + Headers

            Content-Type: application/json
        
    + Body
    
            {
            "entries" : [
                 {
                     "link" : "/gdc/md/{project-id}/tasks/{task-id}/status",
                     "category" : "tasks-status"
                 }
                        ]
            }


## GET /gdc/md/{project-id}/tasks/{task-id}/status
Resource for retrieving the asynchronous task status.

+ Request
    
    + Headers
    
            Accept: application/json

    + Body

+ Response 200

    + Headers

            Content-Type: application/json
        
    + Body
    
            {
             "wTaskStatus" : {
                "poll" : "/gdc/md/{project-id}/tasks/{task-id}/status",
                "status" : "OK"
                    }
            }


## POST /gdc/md/{project-id}/validate/
Use this method to validate Project

+ Request
    + Headers

            Accept: application/json

    + Body

            { "validateProject" : [ "IO", "LDM", "PDM" ] }

+ Response 201

        {"uri" : "/gdc/md/{project-id}/validate/{task-id}"}

## GET /gdc/md/{project-id}/ldm/singleloadinterface/{dataset-name}/manifest
Here you can GET the SLI manifest. This manifest is needed to upload your data using the API directly. The SLI manifest provides column mapping between CSV file and data model.

+ Request
    + Headers

            Accept: application/json

+ Response 200

        {
            "dataSetSLIManifest": {
                "parts": [
                    {
                        "columnName": "f_quotes.dt_quote_date_id",
                        "populates": [
                            "quote.date.mdyy"
                        ],
                        "constraints": {
                            "date": "yyyy-MM-dd"
                        },
                        "mode": "FULL",
                        "referenceKey": 1
                    },
                    {
                        "columnName": "d_quotes_sector.nm_sector",
                        "populates": [
                            "label.quotes.sector"
                        ],
                        "mode": "FULL",
                        "referenceKey": 1
                    },
                    {
                        "columnName": "d_quotes_market.nm_market",
                        "populates": [
                            "label.quotes.market"
                        ],
                        "mode": "FULL",
                        "referenceKey": 1
                    },
                    {
                        "columnName": "f_quotes.f_low_price",
                        "populates": [
                            "fact.quotes.low_price"
                        ],
                        "mode": "FULL"
                    },
                    {
                        "columnName": "f_quotes.nm_id",
                        "populates": [
                            "label.quotes.id"
                        ],
                        "mode": "FULL",
                        "referenceKey": 1
                    },
                    {
                        "columnName": "f_quotes.f_volume",
                        "populates": [
                            "fact.quotes.volume"
                        ],
                        "mode": "FULL"
                    },
                    {
                        "columnName": "f_quotes.dt_quote_date",
                        "populates": [
                            "dt.quotes.quote_date"
                        ],
                        "mode": "FULL"
                    },
                    {
                        "columnName": "f_quotes.f_open_price",
                        "populates": [
                            "fact.quotes.open_price"
                        ],
                        "mode": "FULL"
                    },
                    {
                        "columnName": "d_quotes_symbol.nm_symbol",
                        "populates": [
                            "label.quotes.symbol"
                        ],
                        "mode": "FULL",
                        "referenceKey": 1
                    },
                    {
                        "columnName": "d_quotes_symbol.nm_company",
                        "populates": [
                            "label.quotes.symbol.company"
                        ],
                        "mode": "FULL"
                    },
                    {
                        "columnName": "f_quotes.f_high_price",
                        "populates": [
                            "fact.quotes.high_price"
                        ],
                        "mode": "FULL"
                    },
                    {
                        "columnName": "d_quotes_industry.nm_industry",
                        "populates": [
                            "label.quotes.industry"
                        ],
                        "mode": "FULL",
                        "referenceKey": 1
                    },
                    {
                        "columnName": "f_quotes.f_close_price",
                        "populates": [
                            "fact.quotes.close_price"
                        ],
                        "mode": "FULL"
                    },
                    {
                        "columnName": "f_quotes.f_adjusted_close_price",
                        "populates": [
                            "fact.quotes.adjusted_close_price"
                        ],
                        "mode": "FULL"
                    }
                ],
                "file": "dataset.quotes.csv",
                "dataSet": "dataset.quotes"
            }
        }


# Group Data Upload
<a id="data-upload" ></a>
The Data Upload API can be used for uploading the data directly to your Project. 
Using the resources below, you are able to start data uplaod process with the file package stored on GoodData **WebDav Server** (secure-di.gooddata.com/uploads/). 
The package must contain **upload_info.json** and **CSV** file for every dataset that you want to upload.

##Upload properties
- pullIntegration : path to directory where your upload package is stored
- pullTask : asynchronous task that is created for each data upload process

## /gdc/md/{project-id}/etl/pull
### POST
Start data upload using this resource. As parameter, use the name of WebDav directory, where you uploaded Data. Upload archive should be named upload.zip and must contain **upload_info.json** (SLI manifest) and **CSV file** with data. See the Data Model resources to learn about SLI manifest.

+ Request
    + Headers

            Accept: application/json

    + Body

            {"pullIntegration":"directory-with-upload-package"}

+ Response 200

        {
           "pullTask" : {
              "uri" : "/gdc/md/{project-id}/etl/task/{task-id}"
           }    
        }

## /gdc/md/{project-id}/etl/task/{task-id}
### GET
This is resource returned by previous POST. Poll it to get the upload status.

+ Request
    + Headers

            Accept: application/json

+ Response 200

        {
           "taskStatus" : "OK | ERROR | WARNING" 
        }

## /gdc/md/{project-id}/data/uploads/{dataset-object-id}
### GET
This resource gives you status of data uploads for specific dataset. You need to specify dataset ID in the end of the URI. This ID can be find in gdc/md/{project-id}/query/datasets resource. See the next resource definition below.

+ Request
    + Headers

            Accept: application/json

+ Response 200

        {
           "dataUploads" : {
              "uploads" : [
                 {
                    "dataUpload" : {
                       "warnings" : [],
                       "msg" : null,
                       "etlInterface" : "/gdc/md/{project-id}/obj/{obj-id}",
                       "progress" : "1.000",
                       "status" : "OK",
                       "file" : "upload_info.json",
                       "fullUpload" : 1,
                       "uri" : "/gdc/md/{project-id}/data/upload/{upload-id}",
                       "createdAt" : "2012-12-14 13:40:36",
                       "fileSize" : 155649,
                       "processedAt" : "2012-12-14 13:40:38"
                    }
                 },
                 {
                    "dataUpload" : {
                       "warnings" : [],
                       "msg" : null,
                       "etlInterface" : "/gdc/md/{project-id}/obj/{obj-id}",
                       "progress" : "1.000",
                       "status" : "OK",
                       "file" : "upload_info.json",
                       "fullUpload" : 1,
                       "uri" : "/gdc/md/{project-id}/data/upload/{upload-id}",
                       "createdAt" : "2012-12-14 13:33:39",
                       "fileSize" : 78957,
                       "processedAt" : "2012-12-14 13:33:40"
                    }
                 },
                 {
                    "dataUpload" : {
                       "warnings" : [],
                       "msg" : null,
                       "etlInterface" : "/gdc/md/{project-id}/obj/{obj-id}",
                       "progress" : "1.000",
                       "status" : "OK",
                       "file" : "upload_info.json",
                       "fullUpload" : 1,
                       "uri" : "/gdc/md/{project-id}/data/upload/{upload-id}",
                       "createdAt" : "2012-12-14 09:24:42",
                       "fileSize" : 144,
                       "processedAt" : "2012-12-14 09:24:59"
                    }
                 },
                 {
                    "dataUpload" : {
                       "warnings" : [],
                       "msg" : null,
                       "etlInterface" : "/gdc/md/{project-id}/obj/{obj-id}",
                       "progress" : "1.000",
                       "status" : "OK",
                       "file" : "upload_info.json",
                       "fullUpload" : 1,
                       "uri" : "/gdc/md/{project-id}/data/upload/{upload-id}",
                       "createdAt" : "2012-12-13 17:06:11",
                       "fileSize" : 144,
                       "processedAt" : "2012-12-13 17:06:17"
                    }
                 }
              ],
              "links" : {}
           }
        }

## /gdc/md/{project-id}/query/datasets
### GET
This resource helps you identify datasets in your project. You can easily identify dataset object id in the response.

+ Request
    + Headers

            Accept: application/json

+ Response 200

        {
            "query": {
                "entries": [
                    {
                        "link": "/gdc/md/{project-id}/obj/{obj-id}",
                        "author": "/gdc/account/profile/{user-id}",
                        "tags": "",
                        "created": "2009-07-03 14:52:50",
                        "deprecated": "0",
                        "summary": "",
                        "category": "dataSet",
                        "title": "Initially Assigned Date",
                        "updated": "2009-07-03 14:52:50",
                        "contributor": "/gdc/account/profile/{user-id}"
                    },
                    {
                        "link": "/gdc/md/{project-id}/obj/{obj-id}",
                        "author": "/gdc/account/profile/{user-id}",
                        "tags": "",
                        "created": "2010-06-16 01:11:00",
                        "deprecated": "0",
                        "summary": "",
                        "category": "dataSet",
                        "title": "Zendesk Tickets",
                        "updated": "2011-02-18 19:38:40",
                        "contributor": "/gdc/account/profile/{user-id}"
                    },
                    {
                        "link": "/gdc/md/{project-id}/obj/{obj-id}",
                        "author": "/gdc/account/profile/{user-id}",
                        "tags": "",
                        "created": "2010-06-16 01:11:04",
                        "deprecated": "0",
                        "summary": "",
                        "category": "dataSet",
                        "title": "Zendesk Tags",
                        "updated": "2011-02-10 16:07:11",
                        "contributor": "/gdc/account/profile/{user-id}"
                    },
                    {
                        "link": "/gdc/md/{project-id}/obj/{obj-id}",
                        "author": "/gdc/account/profile/{user-id}",
                        "tags": "",
                        "created": "2009-07-03 14:52:50",
                        "deprecated": "0",
                        "summary": "",
                        "category": "dataSet",
                        "title": "Last Updated Date",
                        "updated": "2009-07-03 14:52:50",
                        "contributor": "/gdc/account/profile/{user-id}"
                    },
                    {
                        "link": "/gdc/md/{project-id}/obj/{obj-id}",
                        "author": "/gdc/account/profile/{user-id}",
                        "tags": "",
                        "created": "2009-07-03 14:52:50",
                        "deprecated": "0",
                        "summary": "",
                        "category": "dataSet",
                        "title": "Assigned Date",
                        "updated": "2009-07-03 14:52:50",
                        "contributor": "/gdc/account/profile/{user-id}"
                    },
                    {
                        "link": "/gdc/md/{project-id}/obj/{obj-id}",
                        "author": "/gdc/account/profile/{user-id}",
                        "tags": "",
                        "created": "2009-07-03 14:52:50",
                        "deprecated": "0",
                        "summary": "",
                        "category": "dataSet",
                        "title": "Solved Date",
                        "updated": "2009-07-03 14:52:50",
                        "contributor": "/gdc/account/profile/{user-id}"
                    },
                    {
                        "link": "/gdc/md/{project-id}/obj/{obj-id}",
                        "author": "/gdc/account/profile/{user-id}",
                        "tags": "",
                        "created": "2009-07-03 14:52:50",
                        "deprecated": "0",
                        "summary": "",
                        "category": "dataSet",
                        "title": "Due Date",
                        "updated": "2009-07-03 14:52:50",
                        "contributor": "/gdc/account/profile/{user-id}"
                    },
                    {
                        "link": "/gdc/md/{project-id}/obj/{obj-id}",
                        "author": "/gdc/account/profile/{user-id}",
                        "tags": "",
                        "created": "2009-07-03 14:52:50",
                        "deprecated": "0",
                        "summary": "",
                        "category": "dataSet",
                        "title": "Created Date",
                        "updated": "2009-07-03 14:52:50",
                        "contributor": "/gdc/account/profile/{user-id}"
                    }
                ],
                "meta": {
                    "summary": "Metadata Query Resources for project '{project-id}'",
                    "title": "List of datasets",
                    "category": "query"
                }
            }
        }

# Group Notifications
<a id="notifications" ></a>
Notifications allow users to be informed about some specific events in the Project. Notifications are based on Channel Configuration, where user specifies
what is the channel, where he wants to send the notification. Second step is a Subscription settings, that will subscribe the user to a specific channel
with specific condition for triggering the notification.

## Notifications properties  
- channelConfiguration : Specifies the channel configuration configuration
- username (string) : User's channel login for specific channel
- password (string) : User's password for specific configuration
- title (string) : Title of channel configuration
- author (uri) : URI of user who creates the notification channel
- created (date) : Date of channel configuration creation
- updated (date) : Date of channel configuration update
- from : Phone number of notification sender (for Twillio Channel)
- to : Phone number of notification recipient (for Twillio Channel)
- timerEvent (cron Expression) : Specifies the interval for notification check
- condition : Condition that must be fulfil to send the notification
- message : Message that is sent via specific channel as notification

## /gdc/account/profile/{profile-id}/channelConfigurations
### POST
To create new Salesforce Notifications channel use this method

+ Request
    + Headers

            Accept: application/json

    + Body

            {
               "channelConfiguration":{
                  "configuration":{
                     "sfdcChatterConfiguration":{
                        "username":"your@email",
                        "password":"passwordSecurityToken"
                     }
                  },
                  "meta":{
                     "title":"SFDC Channel"
                  }
               }
            }

+ Response 201

        {
            "channelConfiguration": {
                "configuration": {
                    "sfdcChatterConfiguration": {
                        "username": "USERNAME@DOMAIN.COM"
                    }
                },
                "meta": {
                    "title": "Channel Name",
                    "author": "/gdc/account/profile/{user-id}",
                    "category": "channelConfiguration",
                    "updated": "2011-12-20 13:43:17",
                    "created": "2011-12-20 13:43:17",
                    "uri": "/gdc/account/profile/{user-id}/channelConfigurations/{channel-id}"
                }
            }
        }

## /gdc/projects/{project-id}/users/{user-id}/subscriptions
### POST
To create new Subscription, call this resource and set the timerEvent, condition expression and message that will be sent

+ Request
    + Headers

            Accept: application/json

    + Body

            {
               "subscription":{
                  "triggers":[
                     {
                        "timerEvent":{
                           "cronExpression":"0 0/5 * * * *"
                        }
                     }
                  ],
                  "condition":{
                     "condition":{
                        "expression":"f:executeMetric('METRIC_URI') < 16"
                     }
                  },
                  "message":{
                     "template":{
                        "expression":"Average Chatter posts per Opportunity has fallen to ${f:executeMetric('METRIC_URI')} ..."
                     }
                  },
                  "subject" : {
                      "template" : {
                        "expression" : "Message Subject"
                      }
                  }, 
                  "channels":[
                     "CHANNEL_URI"
                  ],
                  "meta":{
                     "title":"Avg Posts per Oppty < 16"
                  }
               }
            }

+ Response 201

        {
            "subscription": {
                "triggers": [
                    {
                        "timerEvent": {
                            "cronExpression": "0 0/5 * * * *"
                        }
                    }
                ],
                "condition": {
                    "condition": {
                        "expression": "f:executeMetric('/gdc/md/{project-id}/obj/{obj-id}') < 0.99"
                    }
                },
                "message": {
                    "template": {
                        "expression": "Custom message % ${f:executeMetric('/gdc/md/{project-id}/obj/{obj-id}')} ..."
                    }
                },
                "channels": [
                    "/gdc/account/profile/{user-id}/channelConfigurations/{channel-id}"
                ],
                "meta": {
                    "title": "TEST%",
                    "author": "/gdc/account/profile/{user-id}",
                    "category": "subscription",
                    "updated": "2011-12-20 13:59:23",
                    "created": "2011-12-20 13:59:23",
                    "uri": "/gdc/projects/{project-id}/users/{user-id}/subscriptions/{subscription-id}"
                }
            }
        }

# Group Report
<a id="report" ></a>
You can manage reports using APIs. Use following resources to get a list of all reports , or execute and export selected reports.

#### Common Use Cases:

**Report Export** 

1. Use the **GET** `gdc/md/{project-id}/query/reports`
1. Identify the report you want to export by report metadata.  
1. POST the report to `gdc/xtab2/executor3` to compute the latest numbers. Use one of the following options:  
  - Report Definition URI  
  - Report URI  
1. **POST** the JSON response to `gdc/exporter/executor`  
1. Download the Report file  

**Report Creation** 

1. **POST** the valid Report Definition object to `gdc/md/{project-id}/obj`  
1. Use returned object URI (report definition) to save it as a Report by **POST**ing Report JSON to `gdc/md/{project-id}/obj`  
1. Execute the Report by sending **POST** to `gdc/xtab2/executor3` with one of the following options
  - Report Definition URI
  - Report URI

##Report Properties
- link (uri) : Link to specific Report
- author (uri) : URI of Report author
- tags : Report tags
- created (date) : Report creation date
- updated (date) : Report update date
- summary (string) : Report text summary
- report (uri) : Specific report URI
- format : Report export format (pdf, csv, png)

## /gdc/md/{project-id}/query/reports
### GET
Use this method to list all Reports in given Project

+ Request
    + Headers

            Accept: application/json

+ Response 200 (application/json)

        {
            "query": {
                "entries": [
                    {
                        "link": "/gdc/md/{project-id}/obj/{obj-id}",
                        "author": "/gdc/account/profile/{user-id}",
                        "tags": "",
                        "created": "2011-11-23 15:34:18",
                        "deprecated": "0",
                        "summary": "",
                        "title": "Report Title",
                        "category": "report",
                        "updated": "2011-11-23 15:41:44",
                        "contributor": "/gdc/account/profile/{user-id}"
                    }],
                "meta": {
                    "summary": "Metadata Query Resources for project '{project-id}'",
                    "title": "List of reports",
                    "category": "query"
                }
            }
        }


## /gdc/md/{project-id}/obj
### POST
You need to create Report Definition using this resource first, then save it as a Report by following API call.

+ Request
    + Headers

            Accept: application/json
            Content-Type: application/json

    + Body

            {
             "reportDefinition": {
                "content": {
                "filters": [],
                "format": "grid",
                "grid": {
                    "rows": [],
                    "columns": [
                        "metricGroup"
                    ],
                    "sort": {
                        "columns": [],
                        "rows": []
                    },
                    "columnWidths": [],
                    "metrics": [
                        {
                            "uri": "/gdc/md/{project-id}/obj/{user-id}",
                            "alias": ""
                        }
                    ]
                }
            },
            "meta": {
[...]
